<nav class="navbar navbar-default"><!-- navbar-fixed-top navbar-static-top -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- Menu -->
				<ul class="nav navbar-nav">
            <li class="dropdown" *ngFor="let menu of menuItems">
                <a href="#" title="Stakeholder Mapping in 4 steps" class="dropdown-toggle disabled" data-toggle="dropdown">{{menu.label}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li *ngFor="let submenu of menu.menuItems" [ngClass]="getSubmenuClass(submenu.menuItems)">
                        <!-- <a href="#" [routerLink]="['ui/edit/' + submenu.id]" title="What is a Stakeholder?" class="dropdown-toggle disabled" data-toggle="dropdown">{{submenu.label}}</a> -->
                        <a href="#" [routerLink]="['ui/list/']" title="What is a Stakeholder?" class="dropdown-toggle disabled" data-toggle="dropdown">{{submenu.label}}</a>
                        <ul *ngIf="submenu.menuItems" class="dropdown-menu" role="menu">
                          <li class="dropdown-submenu">
                              <a href="#" tabindex="-1"  class="dropdown-toggle disabled" data-toggle="dropdown">test</a>
                              <ul *ngIf="submenu.menuItems" class="dropdown-menu">
                                <li *ngFor="let subsubmenu of menu.menuItems" ><a href="#">{{subsubmenu.label}}</a></li>
                                <a href="#" title="What is a Stakeholder?" class="dropdown-toggle disabled" data-toggle="dropdown">subtest</a>
                              </ul>
                            </li>
                      </ul>
                    </li>
                </ul>
            </li>

            <!-- <app-menu [menuItems]=menuItems></app-menu> -->


            <!-- <li class="dropdown">
              <a href="#" title="Stakeholder Mapping in 4 steps" class="dropdown-toggle disabled" data-toggle="dropdown">Stakeholder Map <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="/what-is-a-stakeholder.html" title="What is a Stakeholder?">What is a Stakeholder?</a></li>
                  <li class="dropdown-submenu">
                        <a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">Stakeholder lists</a>
                        <ul class="dropdown-menu">
                          <li><a href="/stakeholder-list.html" title="Stakeholder List">Stakeholder List - generic</a></li>
                          <li><a href="/stakeholder-list-big-data.html" title="Big Data stakeholders">Big Data stakeholder list</a></li>
                          <li class="slast"><a href="/stakeholders-construction.html" title="Construction Stakeholders">Construction stakeholders</a></li>
                          <li class="dropdown">
                            <a href="/stakeholders-ecommerce.html" title="stakeholders ecommerce">eCommerce stakeholder list</a>
                          </li>
                          <li class="dropdown-submenu">
                            <a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">test</a>
                            <ul class="dropdown-menu">
                              <li><a href="#">dadaazd</a></li>
                              <li><a href="#">dadaazd</a></li>
                            </ul>
                          </li>
                          <li><a href="/stakeholders-it-project.html" title="stakeholders IT project">IT project stakeholder list</a></li>
                        </ul>
                    </li>
                </ul>
            </li> -->
          </ul>
    </div>
  </div>
</nav>

<!-- <scam1-content></scam1-content> -->

<router-outlet></router-outlet>
